<!DOCTYPE html>

<html>
    <head>
        <title>Sobre</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>Este website for desenvolvido por Ruben Lebre como parte de um curso de Node.js em udemy.com.</p>
            <p>Utiliza dados dos websites mapbox.com e darksky.net para desempenhar as suas funções.</p>
            <img class="foto" src="/img/perfil.png">
        </div>
        {{>footer}}
    </body>
</html>